{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
 









<style>
  .drawer {
    visibility: hidden;
  }
</style>
<style>
  .f-cart-drawer-shipping.saving span {
    color: #20ae4d!important;
}
  p.moneyback {
    color: #121212;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: -0.5px;
    margin: 0;
}
  .f-cart-drawer-button {
    display: block;
    width: 100%;
    font-weight: 700;
    color: #fff;
    border: 2px solid #F87C56;
    font-size: 22px;
    padding: 13.1px 0px !important;
    margin: 0;
    border-radius: 29.275px;
    background: #F87C56;
    line-height: 120%;
}
    .f-upsale-main select{
        margin: 5px 0;
        padding: 5px !important;
        height: unset;
        min-height: unset;
        line-height: unset;
        border-radius: 3px;
      max-width: 100%;
         width: 100%;
    }
  .f-cart-drawer-footer.sticky {
      position: fixed;
      bottom: 0;
      max-width: 472px;
      width: 100%;
      /* border-radius: 8px; */
      background: #FFF;
      /* box-shadow: 0px 1px 8px 0px rgba(61, 66, 70, 0.20); */
        z-index: 2;
  }
    .f-upsale-row .f-upsale-main:last-child {
      margin-bottom: 145px !important;
  }
      button:focus-visible, select:focus-visible {
      outline: none;
      box-shadow: none;
  }
    .free_hide span {
      display: none !important;
  }
  .f-cart-drawer {
  	 position: fixed;
  	 top: 0;
  	 left: -9999px;
  	 opacity: 0;
  	 width: 100%;
  	 height: 100%;
  	 background: rgba(0, 0, 0, 0.7);
  	 z-index: 99999;
  	 display: flex;
  	 flex-direction: column;
      /* padding: 24px; */
      transition: left 0s 0.2s, opacity 0.2s;
  }
    .f-cart-drawer-header h2 span {
      font-size: 20px;
      letter-spacing: 0.6px;
  }
  .f-cart-drawer-box::-webkit-scrollbar {
  	display: none;
  }
  .f-cart-drawer-box {
  	-ms-overflow-style: none;
  	scrollbar-width: none;
  }
  .f-cart-drawer--active {
  	left: 0;
  	opacity: 1;
  	transition: left 0s, opacity 0.2s;
  }
  .f-cart-drawer-box {
  	width: 472px;
  	background: #fff;
  	/* border-radius: 12px; */
  	flex: 1;
  	margin-left: auto;
  	display: flex;
  	flex-direction: column;
  	overflow: auto;
  	transition: 0.2s opacity, 0.2s transform;
  	opacity: 0;
  	transform: translateX(40px);
  }
  .f-cart-drawer-quantity-selector input[type="text"] {
  	height: auto;
  	line-height: normal;
  }
  .f-cart-drawer--active .f-cart-drawer-box {
  	transform: none;
  	opacity: 1;
  }
  .f-cart-drawer-header {
  	display: flex;
      align-items: center;
      padding: 26px 20px 25px;
      /* border-bottom: 1px solid #e7e7e7; */
      width: auto !important;
      text-align: center;
  }
    .f-cart-drawer-button svg {
      margin-right: 8px;
  }
   .f-cart-drawer-button:hover svg path {
      fill: #000;
  }
  .f-cart-drawer-header h2 {
  	    flex: 1;
      color: #000;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      margin: 0;
      line-height: 15.2px;
      letter-spacing: 0.78px;
      text-transform: capitalize;
  }
    p.moneyback {
      color: #121212;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 28.8px;
      letter-spacing: -0.5px;
      margin: 0;
  }
  .f-cart-drawer-item-main-flex-right {
  	display: flex;
  	justify-content: space-between;
      padding-right:4px;
  }
  .f-cart-drawer-header-right {
  	color: #000;
  	display: inline-flex;
  	align-items: center;
  	gap: 20px;
  }
  .f-cart-drawer-header-right-items {
  	display: block;
  	font-weight: 500;
  }
  .f-cart-drawer-header-right-close {
  	width: auto;
  	min-width: auto;
  	color: #000;
  	cursor: pointer;
  	background: transparent;
  	box-shadow: none;
  	padding: 0;
  	margin: 0;
  	height: auto;
  	line-height: normal;
        border: 0;
  }
    .sale_compare {
      color: #747474;
      text-decoration-line: line-through;
  }
    .cart-price {
      display: block;
      text-align: right;
      font-size: 14px!important;
      font-style: normal;
      font-weight: 400!important;
      line-height: 21px;
      letter-spacing: -0.5px;
  }

  span.cart-price.sale_price {
    color: #121212!important;
    text-decoration: unset!important;
  }
  .f-cart-drawer-header-right-close svg {
  	height: 16px;
  	width: 16px;
  }
   .f-cart-drawer-shipping {
      color: #121212;
      font-size: 16px !important;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.5px;
  }
  .f-cart-drawer-header-right-close:hover {
  	color: #000;
  	background: transparent;
  	box-shadow: none;
  }
  .f-cart-drawer-form {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  }
  .f-cart-drawer-items {
  	padding: 24px 20px;
  }
  .f-cart-drawer-item {
  	display: flex;
  	align-items: flex-start;
      gap: 20px;
  	background: white;
  	overflow: hidden;
  	margin-bottom: 16px;
  }
  .f-cart-drawer-item + .f-cart-drawer-item {
  	margin-top: 10px;
  }
  .f-cart-drawer-item-image {
  	width: 118px;
  	line-height: 0px !important;
  }
  .f-cart-drawer-item-image img {
  	width:118px;
  	object-fit: cover;
  }
  .f-cart-drawer-item-main {
  	flex: 1;
  	/* padding: 0 5px 0 20px; */
  }
  .f-cart-drawer-item-main-flex {
  /*   display: flex; */
    /*   align-items: center; */
    /*   gap: 20px; */
  }
  button.f-cart-drawer-button:hover {
  	cursor: pointer;
  }
  .f-cart-drawer-item-main-flex-left {
  	flex: 1;
  }
  .f-cart-drawer-item-main-flex-left h3 {
  	    color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      margin: 0;
      line-height: 20.8px;
      letter-spacing: -0.5px;

  }
  .f-cart-drawer-item-main-flex-left h3 a {
  	color: #000;
  }
  .f-cart-drawer-item-main-flex-left span {
  	    margin-top: 8px;
      display: block;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: -0.5px;
      line-height: normal;
  }
  .f-cart-drawer-item-main-flex-right span  {
  	color: #000;
  	font-size: 10px;
  	font-style: normal;
  	font-weight: 500;
  }
  .product-option  {
    color: #747474;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20.8px; /* 148.571% */
    letter-spacing: -0.5px;
    padding-top: 8px;
  }
    .sale_compare {
      color: #747474;
  }
  .f-cart-drawer-quantity-selector {
  	display: inline-flex;
      border-radius: 4px;
      gap: 12px;
        margin-top: 8px;
  }
   .f-cart-drawer-quantity-selector input:focus-visible {
   outline: none;
   box-shadow: none;
  }
  .f-cart-drawer-quantity-selector .cart-qty button {
  	width: 28px;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
  	user-select: none;
  	background: transparent;
  	border: none;
  	/* border-bottom: 1px solid #e7e7e7 !important; */
  	min-width: auto;
  	padding: 0;
  	margin: 0px;
  	color: #000;
  	box-shadow: none;
  	border-radius: 0px !important;
  }
  .f-cart-drawer-quantity-selector input {
  	width: 100%;
  	font-size: 13px;
  	text-align: center;
  	background-color: transparent;
  	border: none;
  	padding: 0;
  	border-radius: 0px;
  	margin: 0;
  }
  .f-cart-drawer-footer {
  	    padding: 11px 20px 10px;
  	margin-top: auto;
  	/* border-top: 1px solid #e7e7e7; */
  }
  .f-cart-drawer-footer-row {
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	margin-bottom: 16px;
  }
  .f-cart-drawer-footer-row:last-of-type {
  	margin-bottom: 16px;
  }
  .f-cart-drawer-footer-row h3 {
  	    color: #3D4246;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      margin: 0;
      letter-spacing: -0.5px;
      line-height: 20px;
  }
  .f-cart-drawer-footer-row span {
  	    color: #121212;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.5px;
  }
    .f-cart-drawer-footer-row h4 {
      margin: 0;
      color: #3D4246;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.5px;
  }

  .f-cart-drawer-button {
  	    display: block;
      width: 100%;
      font-weight: 700;
      color: #fff;
      border: 2px solid #F87C56;
      font-size: 22px;
      padding: 13.1px 0px !important;
      margin: 0;
      border-radius: 29.275px;
      background: #F87C56;
      line-height: 120%;
  }
  .f-cart-drawer-button:hover, .add.f-upsale-add:hover {
  	color: #000;
    background:#fff;
  }
    .add.f-upsale-add:hover{
          border-color: #fff;
    }
  .f-cart-drawer-empty {
  	margin-top: 40px;
  	color: #000;
  	text-align: center;
  	font-weight: 700;
  }
  .f-cart-drawer-item-main-flex-left a {
  	text-decoration: none;
  }
  .f-cart-drawer-item-main-flex-left a:hover {
  	text-decoration: underline;
  }
  .f-remove-item:hover {
  	cursor: pointer;
  	text-decoration: underline;
  	box-shadow: none !important;
  }
  .f-remove-item {
  	background: transparent !important;
  	border: none !important;
  	box-shadow: none;
  	color: #000 !important;
  	padding: 0;
  	text-align: left;
  	font-size: 14px;
  	width: auto;
  	margin: 0;
  	line-height: normal;
  	height: auto;
  }
    .cart-qty {
      display: flex;
          width: 35%;
          border: 1px solid #e7e7e7 !important;
  }
  .f-cart-drawer-quantity-selector .cart-qty svg {
  	height: 10px;
  	width: 10px;
  }
  .f-cart-drawer-quantity-selector-minus:focus, .f-cart-drawer-quantity-selector-plus:focus, .f-remove-item:focus, .f-upsale-title:focus, .price-section:focus, .f-cart-drawer-item-main-flex-left a:focus, .f-upsale-title a:focus {
  	outline: none !important;
  }
    .cart-drawer---main  .cart-item__discounted-prices {
      display: flex;
      flex-direction: column-reverse;
  }
  /*  upsale collection  */
  .f-upsale-main {
  	    display: grid;
      align-items: center;
      padding: 20px 0px;
      border-top: 1px solid rgba(46, 46, 46, 0.10);
      text-align: left;
      gap: 15px;
      grid-template-columns: 75px 1fr auto;
  }
  .f-upsale-image img {
  	width: 75px;/* height: 63px; */
  }
  .f-upsale-row {
  	padding: 0px 20px 16px 20px;
  }
  .add.f-upsale-add {
  	    padding: 8px 16px;
      border: 2px solid #f87c56;
      font-size: 16px;
      font-weight: 700;
      margin-top: 16px;
      height: auto;
      cursor: pointer;
      color: #f87c56;
      background: #fff;
      width: 177px;
      border-radius: 30px;
      letter-spacing: -0.16px;
      line-height: 120%;
  }
  .f-upsale-title a {
  	text-decoration: none;
  	color: #000;
  	font-size: 14px;
  	font-weight: 600;
  }
  span.discount-price {
  	text-decoration: line-through;
  	margin-right: 11px;
  	color: #000;
  	font-size: 12px;
  	font-weight: 500;
  }
    .f-upsale-title {
      line-height: normal;
  }
  span.actual-price {
  	font-weight: 500;
  	font-size: 12px;
  	color: #000;
  }
  .up-title {
  	color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      padding: 0px 0px 24px;
      margin: 0px;
      text-transform: capitalize;
      letter-spacing: 0.6px;
      line-height: 15.2px;
  }
    .f-cart-drawer-item:last-child {
      margin-bottom: 0;
  }
  .cart-drawer---main {
  	overflow-y: auto;
  }
   /* .cart-drawer---main::-webkit-scrollbar {
   display: none;
  }*/
  .cart-drawer---main {
  	scrollbar-width: thin;
  }
   @media(max-width:374px) {
  .f-upsale-row {
  	padding: 12px;
  }
  .add.f-upsale-add {
  	width: auto;
  }
  .f-cart-drawer-button {
  	line-height: 22px;
  }
  }
   @media(max-width:600px) {

    .f-cart-drawer-box {
  	width: 100%;
    }

    .f-cart-drawer-header {
      padding: 18px 16px 16px;
    }

    .f-cart-drawer-items {
      padding: 24px 16px;
    }

    .f-upsale-main {
  	gap: 10px;
    }

     .up-title {
      padding: 0px 0px 12px;
     }

    .f-cart-drawer-footer.sticky {
      /* width: 88% !important; */
      max-width: 100%;
      border-radius: 8px;
      box-shadow: 0px 1px 8px 0px rgba(61, 66, 70, 0.20);
    }

     .f-cart-drawer-header h2 {
        font-size: 24px;
     }

     .f-cart-drawer-footer-row:last-of-type {
      margin-bottom: 27px;
    }
  }


    .cart_listing {
      margin-bottom: 190px;
  }
   .cart_listing  .add-on-product {
      border-radius: 8px;
      background: #E0F1FF;
      padding: 16px;
  }
  .cart_listing .slick-prev:before, .cart_listing .slick-next:before{
    content:none;
  }
  .cart_listing .slick-next {
      right: 0px;
  }
    .cart_listing .slick-prev {
      left: 0;
  }
   .cart_listing .p_image{
          width: 31%;
    }
   .cart_listing .add-on-product {
      margin-bottom: 0;
         height: 100%;
  }
   .cart_listing .addon__inner {
      display: flex;
      gap: 1.5rem;
      padding: 0 16px;
  }
   .cart_listing .slick-track{
        display: flex;
      align-items: stretch;
  }
     .cart_listing .slick-slide{
          display: flex;
      align-items: stretch;
           height: auto;
    }
    @media(max-width:768px){
      .up-title {
      font-size: 18px;
      }
      .p_content h4 {
      font-size: 16px;
      }
    }
  cart-drawer-upsell {
      display: block;
    width: 100%;
    height: 100%;
  }
    div#footer_empty {
      display: block;
      width: 100%;
      height: 200px;
  }
  .ar-upsell-add .loading__spinner {
    display: none;
  }
  .loading .upsell_btn_text {
      opacity: 0;
      visibility: hidden;
  }
  .ar-upsell-add.loading .loading__spinner {
    display: inline-block;
  }

  .cart_upsell_slider .slick-prev {
    left: 16px;
  }

  .cart_upsell_slider .slick-next {
    right: 16px;
  }

  .cart_upsell_slider .slick-prev::before, .cart_upsell_slider .slick-next:before {
    content: none;
  }
    .product_type_cd{
    margin: 0 0 8px 0;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: normal;
  }
</style>
<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
              <a href="{{ routes.all_products_collection_url }}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a>

              {%- if shop.customer_accounts_enabled and customer == null -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%}
            </div>
          </div>
          {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="drawer__header">
        <h2 class="drawer__heading">{{ 'sections.cart.title' | t }}({{ cart.item_count }})</h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>,

      <div class="free_shipping_main">
          


{% assign GoalPrice = settings.free_shipping_bar | times: 100 %}
{%  assign CartPrice = cart.total_price %}
{% assign PercentFlow = 100 | times: cart.total_price %}
{% assign PercentDivided = PercentFlow | divided_by: GoalPrice %}
 








<div class="cart_shipping_warpper">


  
      {% if cart.items.size != 0 %}
      {% if cart.total_price >= GoalPrice %}
       <p class="cart_unique_success"> Congrats! You get <strong style="color: #82a8d3;">FREE Shipping</strong></p>
      {% elsif cart.total_price < GoalPrice %}
      <p class="cart_uniq_away">You're <strong><span class="money">{{ GoalPrice | minus: CartPrice | money }}</span></strong> away from <strong>FREE Shipping</strong></p>
      {% endif %}
  {% endif %}
    

  
   
  
  <div class="main_cart_uniq_bar">
    <div class="cart_uniq_bar">
      <span class="cart_progress_bar"></span>
    </div>
    <div class="cart_truk">
      <div class="cart_truk_img">
         <img src="https://cdn.shopify.com/s/files/1/0572/7282/8095/files/delivery-truck.png" class="shipping_truk">
      </div>
      <div class="cart_truk_price">
        <span><span class="money">$50</span></span>
      </div>
    </div>
  </div>
</div>



<style>
  .free_shipping_main {
    margin-top: -20px;
    margin-bottom:20px;
}
  .cart_shipping_warpper {
    max-width: 100%;
    margin: 0 auto;
}
  .cart_uniq_bar {
        position: relative;
    background: #EFEFEF;
    height: 15px;
    width: 100%;
    border-radius: 30px;
}
  span.label_clr {
    color: #ff77c0;
}
  .cart_progress_bar {
        position: absolute;
    top: 0;
    left: 0;
    min-width: 0;
    max-width: 100%;
    display: block;
    height: 100%;
    background: #92C1E9;
    border-radius: 30px;
    width:{{ PercentDivided }}%;
}
  .cart_uniq_away {
        margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 28.8px;
    letter-spacing: 0;
    color: #121212;
}

  .free_shipping_bar {
    padding-bottom: 1.5rem;
        border-bottom: 1px solid #e7e7e7;
}
  .cart_unique_success {
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 28.8px;
    letter-spacing: -0.5px;
    color: #121212;
}
   .cart_progress_bar:after {
    content: '';
    width: 15px;
    /* height:15px; */
    background: #ff3398;
    position: absolute;
    top: 0;
    right: 0;
}
  .cart_unique_success ~ .main_cart_uniq_bar .cart_uniq_bar .cart_progress_bar{
    background: #92C1E9;
  }
  .cart_unique_success ~ .main_cart_uniq_bar .cart_uniq_bar .cart_progress_bar:after{
    background: #92C1E9;
  }
  .main_cart_uniq_bar {
   display: flex;
    max-width: 91.4%;
    margin: auto;
    position: relative;
    /* height: 75px; */
    align-items: center;
}
.cart_truk {
    display: none;
    flex-direction: column;
    position: absolute;
      right: 0;
    align-items: center;
    top: 13px;
    text-align: center;
}
  .shipping_truk {
    display: block;
    margin: auto;
}
  .cart_truk_img {
        border: 2px solid #ff3398;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    background: #fff;
}
  .cart_truk_price span {
    font-weight: 600;
        color: #ff77c0;
}
 /* .free_shipping_main {
    padding-top: 1.25rem;
    padding-bottom: 1rem;
} */

  @media screen and (max-width: 749px) {

    .cart_uniq_bar {
      height: 11px;
      border-radius: 20px;
    }

  .cart_unique_success ~ .main_cart_uniq_bar .cart_uniq_bar .cart_progress_bar {
    background: #1bae4b;
  }
  }
</style>
        </div>

      
      <cart-drawer-items
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
      >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">
                <table class="cart-items" role="table">
                  <thead role="rowgroup">
                    <tr role="row">
                      <th id="CartDrawer-ColumnProductImage" role="columnheader">
                        <span class="visually-hidden">{{ 'sections.cart.headings.image' | t }}</span>
                      </th>
                     
                
                      <th id="CartDrawer-ColumnQuantity" role="columnheader">
                        <span class="visually-hidden">{{ 'sections.cart.headings.quantity' | t }}</span>
                      </th>
                    </tr>
                  </thead>

                  <tbody role="rowgroup">
                    {%- for item in cart.items -%}
                      <tr id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                        <td class="cart-item__media" role="cell" headers="CartDrawer-ColumnProductImage">
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            <img
                              class="cart-item__image"
                              src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                          {% endif %}
                        </td>

                        <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                          {%- endif -%}

                          <a href="{{ item.url }}" class="cart-item__name h4 break">
                            {{- item.product.title | escape -}}
                          </a>

                          {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices">
                              <span class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {%- else -%}
                            <div class="product-option">
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}

                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <dl>
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option">
                                    <dt>{{ option.name }}:</dt>
                                    <dd>
                                      {{ option.value -}}
                                      {%- unless forloop.last %}, {% endunless %}
                                    </dd>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}

                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt>{{ property.first }}:</dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a
                                          href="{{ property.last }}"
                                          class="link"
                                          target="_blank"
                                          aria-describedby="a11y-new-window-message"
                                        >
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>

                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}

                          <ul
                            class="discounts list-unstyled"
                            role="list"
                            aria-label="{{ 'customer.order.discount' | t }}"
                          >
                            {%- for discount in item.line_level_discount_allocations -%}
                              <li class="discounts__discount">
                                {{- 'icon-discount.svg' | inline_asset_content -}}
                                {{ discount.discount_application.title }}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </td>

                        <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">
                          {%- render 'loading-spinner' -%}
                          <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <div class="cart-item__discounted-prices">
                                <span class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                                <span class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <span class="price price--end">
                                  {{ item.final_line_price | money }}
                                </span>
                              </div>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}

                            {%- if item.variant.available and item.unit_price_measurement -%}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden"
                                  >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                >
                                {%- if item.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>
                        </td>
                        {%- liquid
                          assign has_qty_rules = false
                          if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                            assign has_qty_rules = true
                          endif

                          assign has_vol_pricing = false
                          if item.variant.quantity_price_breaks.size > 0
                            assign has_vol_pricing = true
                          endif
                        -%}
                        <td
                          class="cart-item__quantity {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}"
                          role="cell"
                          headers="CartDrawer-ColumnQuantity"
                        >
                          <quantity-popover>
                            <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                                <quantity-input class="quantity cart-quantity">
                                  <button class="quantity__button" name="minus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-minus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="0"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                  <button class="quantity__button" name="plus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-plus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                </quantity-input>
                              </div>
                              <cart-remove-button
                                id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary cart-remove-button"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                  data-variant-id="{{ item.variant.id }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-remove.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                              </cart-remove-button>
                            </div>
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                aria-expanded="false"
                              >
                                <span class="svg-wrapper">
                                  {{- 'icon-info.svg' | inline_asset_content -}}
                                </span>
                                <span>
                                  {%- if has_vol_pricing -%}
                                    {{ 'products.product.volume_pricing.note' | t }}
                                  {%- elsif has_qty_rules -%}
                                    {{ 'products.product.quantity.note' | t }}
                                  {%- endif -%}
                                </span>
                              </button>
                            {%- endif -%}
                            {%- if has_vol_pricing or has_qty_rules -%}
                              <div
                                class="cart-items__info global-settings-popup quantity-popover__info"
                                tabindex="-1"
                                hidden
                              >
                                {%- if has_qty_rules == false -%}
                                  <span class="volume-pricing-label caption">
                                    {{- 'products.product.volume_pricing.title' | t -}}
                                  </span>
                                {%- endif -%}
                                <div class="quantity__rules caption">
                                  {%- if item.variant.quantity_rule.increment > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.multiples_of'
                                        | t: quantity: item.variant.quantity_rule.increment
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.min > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.min_of'
                                        | t: quantity: item.variant.quantity_rule.min
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.max != null -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.max_of'
                                        | t: quantity: item.variant.quantity_rule.max
                                      -}}
                                    </span>
                                  {%- endif -%}
                                </div>
                                <button
                                  class="button-close button button--tertiary"
                                  type="button"
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-close.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                                {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                  <volume-pricing class="parent-display">
                                    <ul class="list-unstyled">
                                      <li>
                                        <span>{{ item.variant.quantity_rule.min }}+</span>
                                        <span>{{ item.variant.price | money_with_currency }}/ea</span>
                                      </li>
                                      {%- for price_break in item.variant.quantity_price_breaks -%}
                                        <li>
                                          <span>
                                            {{- price_break.minimum_quantity -}}
                                            <span aria-hidden="true">+</span></span
                                          >
                                          <span>{{ price_break.price | money_with_currency }}/ea</span>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </volume-pricing>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            <div
                              id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                              class="cart-item__error"
                              role="alert"
                            >
                              <small class="cart-item__error-text"></small>
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                            </div>
                          </quantity-popover>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>

        
    {%- if cart != empty -%}
       
    {% endif %}

        
      </cart-drawer-items>





      
      <div class="drawer__footer">
        {%- if settings.show_cart_note -%}
          <details id="Details-CartDrawer">
            <summary>
              <span class="summary__title">
                {{ 'sections.cart.note' | t }}
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </summary>
            <cart-note class="cart__note field">
              <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                id="CartDrawer-Note"
                class="text-area text-area--resize-vertical field__input"
                name="note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          </details>
        {%- endif -%}

        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    {{- 'icon-discount.svg' | inline_asset_content -}}
                    {{ discount.title | escape }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <div class="f-cart-drawer-footer-row" role="status">
            <h3>{{ 'sections.cart.estimated_total' | t }}</h3>
            <span class="totals__total-value">{{ cart.total_price | money_with_currency }}</span>
          </div>
{% assign total_saving = 0 %}
{% for item in cart.items %}
  {% if item.variant.compare_at_price > item.variant.price %}
  	{% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
  	{% assign total_saving = saving | plus: total_saving %}
  {% endif %}
{% endfor %}
            <div class="f-cart-drawer-footer-row">
              <h4>Saving</h4>
              <div class="f-cart-drawer-shipping saving">- {{ total_saving | money }} </div>
            </div>

          
          
          <div class="f-cart-drawer-footer-row">
              <h4>Shipping</h4>
              <span class="f-cart-drawer-shipping">FREE </span>
            </div>

          

         
        </div>



        

        <!-- CTAs -->

        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button  f-cart-drawer-button"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>
        <p class="moneyback">{{ settings.checkout_un_text }}</p>
      </div>
    </div>
  </div>
</cart-drawer>


